.content {
	position: relative;

	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	gap: var(--gap-48);
	align-items: center;

	width: 100%;

	@media screen and (max-width: 768px) {
		gap: var(--gap-32);
		min-height: 500px;
	}

	@media screen and (max-width: 1024px) {
		gap: var(--gap-32);
	}
}
