.preloader {
	position: absolute;
	inset: 0;

	background-color: transparent;
	background-image: url('/__spritemap#sprite-preloader-view');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px 100px;
}
