.display-grid {
  width: 100%;

  &__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__item-image {
    width: 100%;
  }

  &__link {
    font-size: 16px;
  }
}
