# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Optional npm cache directory
.npm

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Local files (pictures, temporary, environment)
public
.env
temp
node_modules
dist
dist-ssr
*.local
rsync-exclude.txt
*.code-workspace