# Caddyfile.prod
http://158.255.5.107, http://kamamoto.ru, https://kamamoto.ru {
    # Redirect HTTP to HTTPS
    @http {
        protocol http
    }
    redir @http https://kamamoto.ru{uri} permanent

	encode zstd gzip

    # Enable compression ONLY for text-based files
    @compressible {
        path *.html *.css *.js *.mjs *.json *.xml *.txt *.svg *.csv *.md *.yaml *.yml *.map *.woff
    }
    header @compressible Vary "Accept-Encoding"

    # Handle API requests
    handle /api/* {
        reverse_proxy http://back:3000 {
            header_up Host {host}
            header_up X-Real-IP {remote}
        }
    }

    # Static files from backend
    handle /static/* {
        reverse_proxy http://back:3000
    }
    
    # Serve static files
    root * /srv/front
    
    # SPA fallback
    @notStatic {
        not file
        path /*
    }
    handle @notStatic {
        rewrite * /index.html
        file_server
    }


    file_server

    # Security headers
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        X-XSS-Protection "1; mode=block"
    }
}