# Redirect HTTP -> HTTPS
http://kamamoto.ru, http://158.255.5.107 {
    redir https://kamamoto.ru{uri} 302
}

kamamoto.ru {
    # Set up compression for non-html text asets
    @compressed {
        path *.js *.css *.svg
    }
    encode @compressed gzip

    # Handle API requests
    handle /api/* {
        reverse_proxy http://back:3000 {
            header_up Host {host}
            header_up X-Real-IP {remote}
        }
    }

    # Static files from backend
    handle /static/* {
        reverse_proxy http://back:3000

		@images {
            path *.jpg *.jpeg *.png *.gif *.webp *.ico *.svg
        }

        # 1 year cache for images
        header @images Cache-Control "public, max-age=31536000"
    }

    # ===== Yuding SPA =====
    # Redirect from  /yuding to /yuding/
    redir /yuding /yuding/ 301

    handle_path /yuding/* {
        root * /srv/yuding

        # Correct 3-step SPA fallback
        try_files {path} {path}/ /index.html
    }

    # Serve static files
    root * /srv/front

    @html {
        header Content-Type text/html*
    }

    header @html {
        Content-Security-Policy "
            default-src 'self';
            script-src 'self' 'unsafe-inline';
            style-src 'self' 'unsafe-inline';
            img-src 'self' https: data: blob:;
            font-src 'self';
            connect-src 'self' https:;
            frame-src https: blob:;
            frame-ancestors 'self' https:;
        "
    }

    # Cache all other stuff
    @assets {
        path *.js *.css *.woff2 *.svg *.png *.jpg *.jpeg *.webp
    }

    header @assets {
        Cache-Control "public, max-age=31536000, immutable"
    }

    # SPA fallback for any non-file
    @notStatic {
        not file
        not path /yuding/*
        path /*
    }

    handle @notStatic {
        rewrite * /index.html
        file_server

        # Don't cache for SPA routes
        header {
            Cache-Control "no-cache, must-revalidate"
            -ETag
        }
    }

    file_server

    # Security headers
    header {
        Cross-Origin-Opener-Policy "same-origin"
        Cross-Origin-Resource-Policy "same-site"
        Permissions-Policy "geolocation=(), microphone=(), camera=()"
        Referrer-Policy "strict-origin-when-cross-origin"
        Strict-Transport-Security "max-age=86400"
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
    }
}