.footer {
	position:relative;
	z-index: var(--z-index-higher);

	display: grid;
	grid-template-columns: repeat(3, max-content);
	flex: 0 0 auto;
	row-gap: var(--gap-60);
	align-items: start;
	justify-content: space-evenly;

	box-sizing: border-box;
	width: 100%;
	padding: var(--gap-60);

	background-color: var(--background-secondary);

	&__column {
		display: flex;
		flex-direction: column;
		gap: var(--gap-16);
		width: fit-content;

		@media screen and (max-width: 768px) {
			gap: var(--gap-8);
		}
	}

	&__bottom {
		display: grid;
		grid-auto-rows: max-content;
		grid-column: 1 / -1;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		align-items: center;
		justify-content: space-between;

		width: 100%;

		@media screen and (max-width: 768px) and (orientation: portrait) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: var(--gap-24);
		}
	}

	&__column-element {
		display: flex;
		align-items: center;

		height: 40px;
		padding: 0;

		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 1.5px;

		@media screen and (max-width: 1024px) {
			letter-spacing: 1px;
		}
	}

	&__icon-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;

		box-sizing: border-box;
		width: 38px;
		height: 38px;
		border: 1px solid var(--border-color);
		border-radius: 50%;

		background: var(--background-muted);
	}

	&__icon {
		max-width: 15px;
		max-height: 15px;
	}

	&__column-title {
		font-size: 20px;
		font-weight: 300;
		color: var(--text-default);
		letter-spacing: 1px;

		// @media screen and (max-width: 1024px) {
		// 	font-size: 18px;
		// }
	}

	&__copyright,
	&__site-version {
		font-size: 12px;
		font-weight: 400;
		font-style: normal;
		line-height: 180%;
		color: var(--text-muted, rgba(218, 197, 167, 0.6));
		text-align: justify;
		letter-spacing: 0.5px;

		@media screen and (max-width: 768px) {
			margin: auto;
		}
	}

	&__site-version {
		place-self: center;
	}

	@media screen and (max-width: 1024px) {
		padding: var(--gap-48);
	}

	@media screen and (max-width: 768px) {
		grid-template-columns: max-content;
	}
}
