.social-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  &__link {
    padding: 0 24px;
    height: 56px;
    width: auto;
    transition: all 0.1s;

    &:hover {
      background: var(--background-hover);
    }

    &::after {
      content: '';
      width: 16px;
      height: 16px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 16px;
      background-image: url('/icons/link-arrow-up-right.svg');
      margin-left: auto;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
  }
}
