.header {
	display: flex;
	flex: 0 0 auto;
	gap: var(--gap-32);
	align-items: center;
	justify-content: center;

	box-sizing: border-box;
	height: 65px;
	padding: var(--gap-12) var(--gap-32);
	border: 1px solid var(--border-color);
	border-radius: 2px;

	background-color: var(--background-secondary);

	@media screen and (max-width: 900px) {
		flex-direction: column;
		height: unset;
		padding: var(--gap-32);
	}

	@media screen and (max-width: 768px) {
		max-width: calc(100% - 80px);
		padding-right: var(--gap-72);
		padding-left: var(--gap-72);
	}
}
