.dictionary {
	display: flex;
	flex-direction: column;
	gap: var(--gap-32);

	&__filters {
		display: flex;
		flex-direction: column;
		gap: var(--gap-12);
	}

	&__filter-letters {
		cursor: pointer;
		display: flex;
		justify-content: space-evenly;
		text-transform: uppercase;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: var(--gap-48);
	}

	&__block {
		display: flex;
		flex-direction: column;
		gap: var(--gap-16)
	}

	&__letter {
		font-size: 36px;
		text-transform: uppercase;
	}

	&__reset-button.button {
		align-self: end;
		min-height: 30px;
		padding: var(--gap-2) var(--gap-8);
		opacity: 0.8;
	}

	&__table {
    display: flex;
    flex-direction: column;
}

	&__row {
		display: grid;
		grid-auto-rows: max-content;
		grid-template-columns: repeat(12, minmax(0, 1fr));

		padding-top: var(--gap-16);
		padding-bottom: var(--gap-16);

		opacity: 0.8;


		&:not(:last-child) {
			border-bottom: 1px dashed var(--color-secondary-015);
		}
	}

	&__cell {

		&--span-2 {
			grid-column: span 2;
		}

		&--span-3 {
			grid-column: span 3;
		}

		&--span-4 {
			grid-column: span 4;
		}

		&--span-5 {
			grid-column: span 5;
		}

		&--span-6 {
			grid-column: span 6;
		}

		&--span-7 {
			grid-column: span 7;
		}

		&--span-8 {
			grid-column: span 8;
		}

		&--span-9 {
			grid-column: span 9;
		}

		&--span-10 {
			grid-column: span 10;
		}

		&--span-11 {
			grid-column: span 11;
		}

		&--span-12 {
			grid-column: span 12;
		}

		&--centered {
			justify-self: center;
		}

		&--definition {
			@media screen and (max-width: 480px) {
				grid-column: 1 / -1;
			}
		}

		&--title,
		&--kanji {
			@media screen and (max-width: 480px) {
				grid-column: span 6;
			}
		}

		@media screen and (max-width: 480px) {
			&:not(:last-child) {
				padding-bottom: var(--gap-8);
			}
		}
	}
}