:root {
  --background-primary: #0e0e0e;
  --background-secondary: #1a1a1a;
  --background-muted: rgba(218, 197, 167, 0.05);

  --border: rgba(218, 197, 167, 0.15);

  --text-default: #dac5a7;
  --text-muted: rgba(218, 197, 167, 0.6);
}
