.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;

  @media screen and (max-width: 768px) {
    padding: 30px;
  }

  @media screen and (max-width: 600px) {
    padding: 20px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 48px;

  @media screen and (max-width: 768px) {
    padding: 30px;
  }
}

.bordered {
  border: 1px solid var(--border, rgba(218, 197, 167, 0.15));
  border-radius: 2px;
}

.background-muted {
  background: var(--background-muted, rgba(218, 197, 167, 0.05));
}

.muted-8 {
  opacity: 0.8;
}

.muted {
  opacity: 0.6;
}

.title {
  font-family: var(--title-font);
  line-height: 1;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
}

.title::first-letter {
  text-transform: capitalize;
}

.title1 {
  font-size: 55px;

  @media screen and (max-width: 900px) {
    font-size: 40px;
  }

  @media screen and (max-width: 768px) {
    font-size: 35px;
  }

  @media screen and (max-width: 600px) {
    font-size: 30px;
  }
}

.title2 {
  font-size: 50px;

  @media screen and (max-width: 900px) {
    font-size: 45px;
  }

  @media screen and (max-width: 768px) {
    font-size: 40px;
  }

  @media screen and (max-width: 600px) {
    font-size: 35px;
  }
}

.title3 {
  font-size: 40px;

  @media screen and (max-width: 768px) {
    font-size: 35px;
  }
}

.subtitle {
  color: var(--text-muted, rgba(218, 197, 167, 0.6));
  font-size: 20px;

  @media screen and (max-width: 600px) {
    text-align: center;
  }
}

.text-block {
  display: block;
  width: 100%;
  box-sizing: border-box;

  & p,
  & ul,
  & blockquote {
    margin-bottom: 20px;
  }

  & *:last-child {
    margin-bottom: 0;
  }
}

.text {
  color: var(--text-default, rgba(218, 197, 167, 0.6));
  font-size: 16px;

  &_muted {
    color: var(--text-muted, rgba(218, 197, 167, 0.6));
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--text-default, #dac5a7);
  text-decoration: none;
  box-sizing: border-box;
  width: fit-content;
  transition: color 0.2s;

  &:hover {
    color: var(--text-default);
  }
}

.link_usual {
  display: inline;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.link_navigational {
  text-transform: uppercase;
}

.link__icon {
  display: flex;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.list {
  color: var(--text-default, #dac5a7);
  font-size: 16px;
  padding-left: 17px;
}

.blockquote {
  border-left: 6px solid var(--border);
  display: inline-block;
}

.input {
  height: 55px;
  width: 100%;
  padding: 0 24px;
  color: var(--text-default, #dac5a7);
  font-size: 13px;
  letter-spacing: 1.5px;
  box-sizing: border-box;

  &::placeholder {
    text-transform: uppercase;
  }

  &:focus-visible {
    outline: 1px solid var(--text-muted);
  }

  &_disabled {
    background-color: var(--background-hover);
    color: var(--text-disabled);
    cursor: default;
  }
}

.textarea {
  padding-top: 16px;
  padding-bottom: 15px;
  resize: none;
  height: 200px;
  font-family: var(--main-font);
}

.image-gallery-slide-wrapper {
  width: 100%;
}

.image-gallery-content {
  width: 100%;
}

.image-gallery {
  width: 100%;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  outline: none;
  border: 4px solid var(--text-muted) !important;
}

.image-gallery-thumbnail:hover {
  outline: none;
  border: 4px solid var(--text-default) !important;
}

.text,
.blockquote,
.list,
.link {
  @media screen and (max-width: 900px) {
    font-size: 14px;
  }
}
