.thanks-letters {
	&__list {
		gap: 0;
		box-sizing: border-box;
		width: 100%;
	}

	&__element {
		display: flex;
		gap: var(--gap-96);

		box-sizing: border-box;
		padding: var(--gap-48) 0;
		border-bottom: 1px solid var(--border-color);

		&:last-child {
			border-bottom: 0;
		}

		@media screen and (max-width: 1100px) {
			gap: var(--gap-48);
		}

		@media screen and (max-width: 768px) {
			flex-direction: column-reverse;
			gap: var(--gap-32);
			align-items: center;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;

		@media screen and (max-width: 768px) {
			flex-direction: column;
			gap: var(--gap-32);
		}
	}

	&__preview {
		max-height: 300px;

		@media screen and (max-width: 600px) {
			width: 100%;
			max-height: unset;
		}
	}

	&__description {
		flex: 1 0;

		font-size: 16px;
		font-weight: 400;
		font-style: normal;
		line-height: 180%;
		color: var(--text-muted, rgba(218, 197, 167, 0.6));

		@media screen and (max-width: 768px) {
			text-align: center;
			text-wrap: balance;
		}
	}
}
