.admin-exhibitions {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__row {
    display: grid;
    grid-template-columns: 30px 1fr 150px 50px 60px;
  }

  &__fields-row {
    display: flex;
    gap: 10px;
  }
}
