.admin-categories {
	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 20px;
		opacity: 0.6;

		&:first-child {
			opacity: 1;
		}

		&:not(:first-child):not(:last-child) {
			border-bottom: 1px dashed var(--text-muted);
		}
	}
}
