.yuding-link {
	cursor: default;

	position: absolute;
	z-index: var(--z-index-higher);
	top: 50%;
	left: calc(100% + var(--gap-12));
	transform: translateY(-50%);

	opacity: 0.3;

	&:hover {
		opacity: 0.6;
	}

	.link__icon {
		border: 0;
		background: transparent;
	}

	@media (max-width: 900px) {
		top: calc(100% + var(--gap-8));
		left: 50%;
		transform: translate(-50%, 0);
	}
}
