.admin-exhibition-form {
	&__form {
		padding: var(--gap-32);
		position: relative;
	}

	&__fieldset {
		border: 0;
		display: flex;
		flex-direction: column;
		gap: var(--gap-8);
	}

	&__fields-row {
		display: flex;
		gap: var(--gap-8);
	}

	&__field {
		display: flex;
		flex-direction: column;

		& span {
			font-size: 14px;
		}

		& input {
			height: 45px;
		}
	}

	&__field-id {
		width: 70px;
		margin-right: auto;
	}

	&__field-name {
		width: 100%;
		max-width: 300px;
		margin-right: auto;
	}

	&__field-year {
		width: 100%;
		max-width: 90px;
	}

	&__field-date {
		width: 100%;
		max-width: 250px;
	}

	&__field-city {
		width: 100%;
		max-width: 250px;
	}

	&__field-address {
		width: 100%;
		max-width: 300px;
		margin-right: auto;
	}

	&__field-place {
		width: 100%;
		max-width: 250px;
	}
	&__field-link {
		flex-grow: 1;
	}

	&__field-photos-count {
		width: 100%;
		max-width: 90px;
	}

	&__field-poster {
		align-items: center;
	}

	&__field-curators {
		width: 50%;
	}

	&__field-organisators {
		width: 50%;
	}

	&__field-description {
		width: 100%;
	}

	&__field-submit {
		width: 100%;
		flex-direction: row;
		gap: var(--gap-8);
		justify-content: flex-end;

		& button {
			height: 45px;
		}
	}

	&__field-is-active {
		align-items: center;
	}

	&__checkbox-label {
		width: 45px;
		height: 45px;
	}

	&__save-status {
		position: absolute;
		bottom: 5px;
		right: 30px;
		font-size: 12px;
	}
}
