.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--gap-48);
	box-sizing: border-box;
	padding-left: var(--gap-48);
	padding-right: var(--gap-48);
	width: 100%;

	@media screen and (max-width: 768px) {
		padding: var(--gap-32);
	}

	@media screen and (max-width: 600px) {
		padding: var(--gap-24);
	}
}