.exhibit {
	&__link {
		cursor: pointer;
	}

	&__breadcrumbs {
		display: flex;
		gap: var(--gap-4);
		align-self: flex-start;
	}

	&__potter-photo {
		max-width: 30%;
		float: left;
		padding-right: var(--gap-48);
		padding-bottom: var(--gap-48);

		@media screen and (max-width: 768px) {
			float: unset;
			max-width: unset;
			width: 100%;
			padding-right: 0;
		}
	}
}
