.exhibit {
  &__link {
    cursor: pointer;
  }

  &__breadcrumbs {
    display: flex;
    gap: 5px;
  }

  &__description {
    display: block;
    width: 100%;
  }

  &__description * {
    margin-bottom: 20px;
  }

  &__potter-photo {
    max-width: 30%;
    float: left;
    padding-right: 48px;
    padding-bottom: 40px;

    @media screen and (max-width: 768px) {
      float: unset;
      max-width: unset;
      width: 100%;
      padding-right: 0;
    }
  }
}

.image-gallery-thumbnails-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.image-gallery-thumbnail {
  width: 100%;
}
