.about {
	display: grid;
	grid-template-areas:
		'avatar heading'
		'. content'
		'. links';
	max-width: 1280px;
	gap: var(--gap-48);

	@media screen and (max-width: 1000px) {
		grid-template-columns: auto 1fr;
		grid-template-areas:
			'avatar heading'
			'content content'
			'links links';
	}

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
		grid-template-areas:
		'avatar'
		'heading'
		'content'
		'links';
	}

	&__avatar {
		width: 300px;
		grid-area: avatar;
		align-self: start;

		@media screen and (max-width: 900px) {
		width: 280px;
		}

		@media screen and (max-width: 768px) {
		place-self: center;
		}
	}

	&__title {
		text-align: left;
	}

	&__heading {
		grid-area: heading;
		align-self: start;
		display: flex;
		flex-direction: column;
		gap: var(--gap-24);
		height: 100%;

		@media screen and (max-width: 768px) {
		place-self: center;
		}
	}

	&__content {
		grid-area: content;
		max-width: 800px;

		@media screen and (max-width: 1000px) {
		max-width: unset;
		}
	}

	&__photo {
		width: 100%;
		height: auto;
	}

	&__links {
		grid-area: links;
	}

	&__anchor-link {
		margin-top: auto;
		color: var(--text-muted);
	}
}
