.about {
  display: grid;
  grid-template-areas:
    'avatar heading'
    '. content'
    '. links';
  max-width: 1280px;

  @media screen and (max-width: 1000px) {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'avatar heading'
      'content content'
      'links links';
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'avatar'
      'heading'
      'content'
      'links';
  }

  &__avatar {
    width: 300px;
    grid-area: avatar;
    align-self: start;

    @media screen and (max-width: 900px) {
      width: 280px;
    }

    @media screen and (max-width: 768px) {
      place-self: center;
    }
  }

  &__title {
    text-align: left;
  }

  &__heading {
    grid-area: heading;
    align-self: start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;

    @media screen and (max-width: 768px) {
      place-self: center;
    }
  }

  &__content {
    grid-area: content;
    max-width: 800px;

    @media screen and (max-width: 1000px) {
      max-width: unset;
    }
  }

  &__photo {
    width: 100%;
    height: auto;
  }

  &__links {
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__anchor-link {
    margin-top: auto;
  }

  &__link {
    padding: 0 24px;
    height: 56px;
    width: auto;
  }

  &__link:hover {
    background: var(--background-hover);
  }

  &__link::after {
    content: '';
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-image: url('/icons/link-arrow-up-right.svg');
    margin-left: auto;
  }

  &__icon {
    width: 16px;
    height: 16px;
  }
}
