.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;

  &__image-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  &:hover &__image-shadow {
    box-shadow: inset 0px 0px 50px 0px var(--box-shadow);
    z-index: 200;
  }

  &__image-wrapper {
    width: 100%;
    aspect-ratio: 3 / 2;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
  }

  &:hover &__image-wrapper {
    border: 1px solid var(--border-hover);
  }

  &__preloader {
    width: 15%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__image {
    width: 100%;
    object-fit: contain;
  }

  &__link {
    font-size: 16px;
  }

  &__name::first-letter {
    text-transform: uppercase;
  }
}
