.exhibition {
	display: grid!important;
	grid-template-areas:
		'breadcrumbs breadcrumbs'
		'title title'
		'place participants'
		'poster description';
	grid-template-columns: 30% auto;
	gap: var(--gap-24);
	align-items: start!important;

	&__breadcrumbs {
		grid-area: breadcrumbs;
	}

	&__title {
		grid-area: title;
	}

	&__place {
		display: flex;
		grid-area: place;
		flex-direction: column;
		gap: var(--gap-32);
		align-self: start;

		padding: 0 0 0 0;
	}

	&__participants {
		grid-area: participants;
		align-self: flex-start;
	}

	&__photos {
		--padding: var(--gap-48);

		grid-area: photos;
		width: 100%;
		max-width: calc(100vw - var(--padding) * 2);

		@media screen and (max-width: 768px) {
			--padding: var(--gap-32);
		}

		@media screen and (max-width: 600px) {
			--padding: var(--gap-24);
		}
	}

	&__description {
		grid-area: description;
	}

	&__poster {
		grid-area: poster;
		width: 100%;
	}

	&__link.link {
		display: inline;
		text-decoration: underline;
	}

	@media screen and (max-width: 768px) {
		grid-template-areas:
			'breadcrumbs'
			'title'
			'place'
			'participants'
			'poster'
			'description';
		grid-template-columns: 1fr
	}
}
