.article {
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: var(--gap-24);

	&__slider {
		grid-column: 1;
		grid-row: span 2;
	}

	&__title {
		text-align: left;
	}

	&__info {
		display: flex;
		grid-column: 2;
		flex-direction: column;
		gap: var(--gap-4);
	}

	&__price {
		display: grid;
		grid-template-columns: auto auto;
		gap: var(--gap-12);
		place-content: end;

		width: fit-content;

		@media (max-width: 480px) {
			place-content: revert;
			width: revert;
		}
	}

	&__row {
		display: flex;
		gap: var(--gap-8);
		align-items: start;
	}

	&__icon {
		aspect-ratio: 1;
		width: var(--gap-16);
		margin-top: var(--gap-4);
	}

	&__description {
		grid-column: 2;
	}

	&__manufacturer {
		grid-column: 1;
	}

	&__series {
		grid-column: 2;
	}

	&__add-to-cart.button {
		flex-shrink: 0;

		height: fit-content;
    min-height: var(--input-height);
    padding: var(--gap-8) var(--gap-12);

		font-size: 12px;

		@media (max-width: 480px) {
			grid-column: 1 / -1;
			min-height: calc(var(--input-height) * 1.5);
		}
	}

	&__total {
		place-self: end;
	}

	&__out-of-stock {
		display: flex;
		align-items: center;
		justify-content: center;

		height: fit-content;
		padding: var(--gap-4);
		border-radius: var(--border-radius-m);

		background-color: var(--background-muted);
	}

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
	}
}