.preloader {
	width: 100%;
	min-width: 100px;
	height: 100%;
	min-height: 100px;

	background-color: transparent;
	background-image: url(/icons/preloader.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px 100px;
}
