.footer {
	position:relative;
	z-index: var(--z-index-higher);

	display: flex;
	flex: 0 0 auto;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;
	width: 100%;
	padding: var(--gap-60);

	background-color: var(--background-secondary);

	&__copyright {
		font-size: 14px;
		font-weight: 400;
		font-style: normal;
		line-height: 180%;
		color: var(--text-muted, rgba(218, 197, 167, 0.6));
		text-align: justify;
		letter-spacing: 0.5px;

		@media screen and (max-width: 768px) {
			margin: auto;
		}
	}

	@media screen and (max-width: 1024px) {
		padding: var(--gap-48);
	}

	@media screen and (max-width: 768px) {
		grid-template-columns: max-content;
	}
}
