.manufacturers {
	display: grid;
	grid-template-columns: repeat(7, minmax(0, 1fr));
	gap: var(--gap-24);

	&__card {
		position: relative;

		border: 1px solid var(--background-muted);
		border-radius: var(--border-radius-s);

		opacity: 0.7;

		transition: opacity 0.4s ease, background-color 0.4s ease;

		&:hover {
			opacity: 1;
			background-color: var(--color-secondary-002);
		}
	}

	&__logo {
		width: 100%;
	}

	&__link {
		position: absolute;
		inset: 0;
	}

	@media (max-width: 1280px) {
		grid-template-columns: repeat(4, minmax(0, 1fr));
		gap: var(--gap-12);
	}

	@media (max-width: 480px) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}