.exhibitions {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
  }

  &__element {
    display: grid;
  }

  &__element:nth-child(odd) {
    padding-left: calc(50% - 50px);
    grid-template-columns: 100px 1fr;
    grid-template-areas:
      'upper-line card'
      'year card'
      'lower-line card';
  }

  &__element:nth-child(even) {
    padding-right: calc(50% - 50px);
    grid-template-columns: 1fr 100px;
    grid-template-areas:
      'card upper-line'
      'card year'
      'card lower-line';
  }
}

@media screen and (max-width: 900px) {
  .exhibitions {
    &__list {
      gap: 5px;
    }

    &__element:nth-child(even),
    &__element:nth-child(odd) {
      padding: 0;
      grid-template-columns: 400px;
      grid-template-rows: 20px 50px 20px 1fr;
      grid-template-areas:
        'upper-line'
        'year'
        'lower-line'
        'card';
      row-gap: 5px;
    }
  }
}
