.menu {
	&__list {
		display: flex;
		gap: var(--gap-24);
		text-transform: uppercase;
		list-style-type: none;

		@media screen and (max-width: 768px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__link {
		cursor: pointer;

		position: relative;

		font-weight: 300;
		color: var(--text-default);
		text-decoration: none;
		letter-spacing: 3px;
	}

	&__link_active {
		text-decoration: underline;
		text-decoration-color: var(--text-muted);
		text-decoration-thickness: 1px;
		text-decoration-skip-ink: auto;
		text-underline-offset: 5px;
	}

	&__link:not(&__link_active)::after {
		content: '';

		position: absolute;
		right: 0;
		bottom: -2px;
		left: 0;
		transform: scaleX(0) translate(0, 0);

		display: block;

		height: 1px;

		background-color: var(--text-muted);

		transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	&__link:hover::after {
		transform: scaleX(1) translate(0, 0);
		visibility: visible;
	}
}
