.footer {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-template-areas:
    'social useful'
    'bottom-line bottom-line';
  align-items: start;
  justify-content: space-evenly;
  row-gap: 80px;
  background-color: var(--background-secondary);
  padding: 64px 0;

  @media screen and (max-width: 768px) and (orientation: portrait) {
    grid-template-areas:
      'social'
      'useful'
      'bottom-line';
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__column_social {
    grid-area: social;
  }

  &__column_useful {
    grid-area: useful;
  }

  &__bottom-line {
    grid-area: bottom-line;
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 768px) and (orientation: portrait) {
      flex-direction: column-reverse;
      gap: 20px;
    }
  }

  &__column-element {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: start;
    height: 40px;
    color: var(--text-muted, rgba(218, 197, 167, 0.6));
    text-align: justify;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    width: fit-content;
  }

  &__icon-wrapper {
    display: flex;
    width: 38px;
    height: 38px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &__icon {
    max-width: 15px;
    max-height: 15px;
  }

  &__column-title {
    color: var(--text-default, #dac5a7);
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1px;
  }

  &__copyright {
    color: var(--text-muted, rgba(218, 197, 167, 0.6));
    text-align: justify;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.5px;
    margin-right: auto;

    @media screen and (max-width: 768px) {
      margin: auto;
    }
  }

  &__to-top-link {
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      gap: 10px;
      height: unset;
    }
  }
}
