.exhibition-card {
	position: relative;

	display: flex;
	grid-area: card;
	flex-direction: column;
	gap: var(--gap-16);

	box-sizing: border-box;
	width: 100%;
	max-width: 450px;
	padding: var(--gap-32) var(--gap-32) var(--gap-16);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius-s);

	background: var(--background-muted);

	&:hover {
		background-color: var(--background-hover-card);
		transition: all 0.5s;
	}

	&__dates {
		position: absolute;
		top: 20px;
		right: 20px;

		padding: var(--gap-8);
		border: 1px solid var(--border-color);
		border-radius: var(--border-radius-s);

		font-size: 12px;
		font-weight: 400;
		font-style: normal;
		color: var(--text-default, #dac5a7);
		text-transform: uppercase;

		background: var(--background-muted);
	}

	&__city {
		font-size: 13px;
		font-weight: 400;
		font-style: normal;
		line-height: 160%;
		color: var(--text-muted, rgba(218, 197, 167, 0.6));
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}

	&__main-content {
		display: flex;
		flex-direction: column;
	}

	&__name,
	&__link {
		font-size: 24px;
		font-weight: 300;
		font-style: normal;
		line-height: 130%;
		color: var(--text-default, #dac5a7);
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	&__more-link {
		margin-left: auto;
	}

	&__place {
		font-size: 16px;
		font-weight: 400;
		font-style: normal;
		line-height: 180%;
		color: var(--text-muted);
	}
}
