.section {
	--section-padding: var(--gap-48);

	box-sizing: border-box;
	width: 100%;
	padding-right: var(--section-padding);
	padding-left: var(--section-padding);

	&__header {
			display: flex;
			gap: var(--gap-24);
			align-items: center;

			width: 100%;
			max-width: 700px;
			margin-right: auto;
			margin-left: auto;

		&::before,
		&::after {
			content: '';
			flex-grow: 1;
			height: 1px;
			background-color: var(--color-secondary-030);
		}

		@media screen and (max-width: 1028px) {
			max-width: 500px;
		}

		@media screen and (max-width: 768px) {
			gap: var(--gap-16);
			max-width: 400px;
		}
	}

	&.description--block {
		.section__header {
			margin-bottom: var(--gap-24);
		}
	}

	&__title {
		flex-shrink: 0;
		font-size: 24px;

		@media screen and (max-width: 1024px) {
			font-size: 20px;
		}
	}

	@media screen and (max-width: 768px) {
		--section-padding: var(--gap-32);
	}

	@media screen and (max-width: 600px) {
		--section-padding: var(--gap-24);
	}
}