.search-bar {
	width: 100%;
	display: flex;

	&__input {
		border-right: 0;
	}

	&__button {
		width: 55px;
		height: 55px;
		box-sizing: border-box;
		background-image: url('/icons/search.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 40%;
		border-radius: 0 2px 2px 0;
		flex-shrink: 0;
		cursor: pointer;

		&:hover {
			background-image: url('/icons/search-active.svg');
		}
	}
}
