.admin-exhibit {
	&__list {
		display: grid;
		grid-template-columns: 50px 1fr 100px 100px 30px;
		opacity: 0.6;

		&:first-child {
			opacity: 1;
		}

		&:not(:first-child):not(:last-child) {
			border-bottom: 1px dashed var(--text-muted);
		}
	}
}
