@import url('@/styles/fonts.scss');
@import url('@/styles/variables.scss');
@import url('@/styles/blockquote.scss');
@import url('@/styles/button.scss');
@import url('@/styles/checkbox.scss');
@import url('@/styles/container.scss');
@import url('@/styles/description.scss');
@import url('@/styles/form.scss');
@import url('@/styles/inputs.scss');
@import url('@/styles/link.scss');
@import url('@/styles/list.scss');
@import url('@/styles/modal.scss');
@import url('@/styles/section.scss');
@import url('@/styles/select.scss');
@import url('@/styles/slider.scss');
@import url('@/styles/table.scss');
@import url('@/styles/tag.scss');
@import url('@/styles/text.scss');
@import url('@/styles/title.scss');
@import url('@/styles/vendor.scss');

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;

	background-color: var(--background-primary);
	color: var(--text-default);
	font-family: var(--main-font);

	scroll-behavior: smooth!important;
}

html,
body {
  scrollbar-gutter: stable;
}

* {
	margin: 0;
	padding: 0;
}
