.blockquote {
	display: flex;
	flex-direction: column;
	gap: var(--gap-24);

	padding: var(--gap-48);
	border-left: 6px solid var(--border-color);

	background: var(--background-muted);

	@media screen and (max-width: 900px) {
		padding: var(--gap-24);
		font-size: 14px;
	}

	@media (max-width: 480px) {
		padding: var(--gap-12);
	}
}