.button {
	cursor: pointer;

	display: flex;
	gap: var(--gap-8);
	align-items: center;
	align-self: stretch;
	justify-content: center;

	box-sizing: border-box;
	min-height: 40px;
	padding: var(--gap-8) var(--gap-16);
	border: 0;
	border-radius: var(--border-radius-s);

	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	color: var(--text-inverse);
	text-transform: uppercase;
	letter-spacing: 1.5px;

	background-color: var(--button-background);

	&--sending {
		color: transparent;

		background-image: url('/__spritemap#sprite-preloader-view');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 60% 60%;
	}

	&--muted {
		opacity: 0.6;
	}

	&--disabled {
		cursor:not-allowed;
		border: 1px solid var(--text-muted);
		color: var(--text-muted);
		background: transparent;
	}

	&--xs {
    min-height: 20px;
		padding: var(--gap-4) var(--gap-8);
		font-size: 10px;
	}
}