.checkbox {
	&-label {
		padding: 0;
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		display: block;
		background-color: var(--background-muted);
		border: 1px solid var(--border-color);
		border-radius: 2px;
		width: 45px;
		height: 45px;
		box-sizing: border-box;

		&--small {
			width: 24px;
			height: 24px;
		}

		&--checked {
			background-image: url("/icons/check.svg");
		}

		&--disabled {
			background-color: var(--background-hover);
			color: var(--text-disabled);
		}
	}

	&-input {
		appearance: none;
		width: 0;
		height: 0 !important;
	}
}