.complectation {
	cursor: pointer;

	display: flex;
	gap: var(--gap-8);

	width: fit-content;
	padding: var(--gap-2) var(--gap-8);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius-s);

	font-size: 12px;
	color: var(--text-default);

	background: var(--background-muted);

	&:before {
		content: '[ ]'
	}

	&.active:before {
		content: '[v]';
	}
}