.complectation {
	cursor: pointer;

	display: flex;
	gap: var(--gap-8);
	align-items: center;

	width: fit-content;
	padding: var(--gap-2) var(--gap-8);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius-s);

	font-size: 12px;
	color: var(--text-default);

	background: var(--background-muted);

	&:before {
		content: '';

		display: block;

		width: 14px;
		height: 14px;

		background-image: url('/__spritemap#sprite-square-rounded-view');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
	}

	&.active:before {
		background-image: url('/__spritemap#sprite-square-rounded-view'), url('/__spritemap#sprite-chevron-down-view');
	}
}