.container {
	display: flex;
	flex-direction: column;
	gap: var(--gap-32);

	box-sizing: border-box;
	width: 100%;
	padding: var(--gap-48);
	border: 1px solid var(--border-color);
	border-radius: 2px;

	background: var(--background-muted);

	&--background-transparent {
	border: 0;
	background: transparent;
	}

	@media screen and (max-width: 768px) {
		padding: var(--gap-32);
	}
}