.description {
	display: flex;
	flex-direction: column;
	gap: var(--gap-24);
	width: 100%;

	&__photo {
		float: left;

		max-width: 30%;
		margin-right: var(--gap-48);
		margin-bottom: var(--gap-48);
		border-radius: var(--border-radius-s);

		@media screen and (max-width: 768px) {
			float: unset;
			width: 100%;
			max-width: unset;
			margin-right: 0;
		}
	}

	&--block {
		display: block;

		.text:not(:last-child) {
			margin-bottom: var(--gap-24);
		}
	}
}