.description {
	display: flex;
	flex-direction: column;
	gap: var(--gap-24);
	width: 100%;

	&__photo {
		width: 100%;
		max-width: 30%;
		border-radius: var(--border-radius-s);

		&--left {
			float: left;
			margin-right: var(--gap-48);
			margin-bottom: var(--gap-48);
		}

		&--right {
			float: right;
			margin-bottom: var(--gap-48);
			margin-left: var(--gap-48);
		}

		@media screen and (max-width: 768px) {
			float: unset;
			max-width: 70%;
			margin-right: auto;
			margin-left: auto;
		}
	}

	&--block {
		display: block;

		.text:not(:last-child) {
			margin-bottom: var(--gap-24);
		}
	}
}