.description {
	display: flex;
	flex-direction: column;
	gap: var(--gap-24);
	width: 100%;

	&__photo {
		max-width: 30%;
		float: left;
		padding-right: var(--gap-48);
		padding-bottom: var(--gap-48);

		@media screen and (max-width: 768px) {
			float: unset;
			max-width: unset;
			width: 100%;
			padding-right: 0;
		}
	}

	&--block {
		display: block;

		.text:not(:last-child) {
			margin-bottom: var(--gap-24);
		}
	}
}