.list {
	padding-left: var(--gap-16);
	font-size: 16px;
	color: var(--text-default);

	&:not(:last-child) {
		margin-bottom: var(--gap-24)
	}

	li:not(:last-child) {
		margin-bottom: var(--gap-8)
	}

	li > p:not(:last-child) {
		margin-bottom: var(--gap-4);
	}

	@media screen and (max-width: 900px) {
		font-size: 14px;
	}
}