.modal {
	position: fixed;
	inset: 0;
	color: var(--text-default);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	padding: var(--gap-12) var(--gap-72);
	z-index: 2;

	&__backdrop {
		position: fixed;
		inset: 0;
		background: rgba(0, 0, 0, 0.7);
		width: 100%;
		height: 100%;
		z-index: 10;
    backdrop-filter: blur(0.5px);
	}

	&__content {
		display: flex;
		flex-direction: column;
		background-color: var(--background-primary);
		width: fit-content;
		max-width: 100%;
		z-index: 20;
		overflow: auto;
		scrollbar-color: var(--text-default) var(--color-secondary-005);
		scrollbar-width: thin;
    gap: var(--gap-16);
    padding-right: var(--gap-16);
		padding-bottom: var(--gap-16);
		margin: var(--gap-24) 0;

		& > .button {
			width: fit-content;
			margin-left: auto;
		}
	}
}