.scroll-to-top.custom-styles {
	z-index: var(--z-index-higher);

  border-radius: 50%;

	background-color: #0e0e0eb0;
	filter: drop-shadow(5px 5px 8px var(--color-primary-100));
	box-shadow: none;

	.link__icon {
		width: 40px;
		height: 40px;
	}
}