.section {
	box-sizing: border-box;
	padding-left: var(--gap-48);
	padding-right: var(--gap-48);
	width: 100%;

	@media screen and (max-width: 768px) {
		padding: var(--gap-32);
	}

	@media screen and (max-width: 600px) {
		padding: var(--gap-24);
	}
}