.section {
	--section-padding: var(--gap-48);

	box-sizing: border-box;
	width: 100%;
	padding-right: var(--section-padding);
	padding-left: var(--section-padding);

	@media screen and (max-width: 768px) {
		--section-padding: var(--gap-32);
	}

	@media screen and (max-width: 600px) {
		--section-padding: var(--gap-24);
	}
}