.select {
	height: var(--input-height);
	padding: 0 var(--gap-12);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius-s);

	color: var(--text-default);

	background: var(--background-muted);

	&:focus-visible {
		outline: 1px solid var(--text-muted);
	}
}

