.slider {
	display: flex;
	flex-direction: column;
	gap: var(--gap-8);
	width: 100%;

	&__img {
		width: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__thumb-img {
		width: 100%;
		object-fit: cover;
	}

	.swiper {
		width: 100%
	}

	.swiper-button-prev,
	.swiper-button-next {
		--swiper-navigation-color: var(--color-secondary-100);
	}
	.swiper-pagination-bullet {
	background: var(--color-secondary-060)
	}

	.swiper-pagination-bullet-active {
		background: var(--color-secondary-100);
	}

	.swiper-slide {
		aspect-ratio: 3 / 2;
	}
}