.slider {
	display: flex;
	flex-direction: column;
	gap: var(--gap-8);
	width: 100%;

	.swiper {
		width: 100%;
		border-radius: var(--border-radius-m);
	}

	.swiper-button-prev,
	.swiper-button-next {
		--swiper-navigation-color: var(--color-secondary-100);

		filter: drop-shadow(var(--gap-2) var(--gap-4) var(--gap-4) var(--color-primary-100));

		&::before {
			content: '';

			position: absolute;
			top: 50%;
			transform: translate(0%, -50%);

			width: 300%;
			height: 300%;
		}

		@media(max-width: 768px) {
			--swiper-navigation-size: 30px;
		}

		@media(max-width: 480px) {
			--swiper-navigation-size: 20px;
		}
	}

	.swiper-button-prev {
		left: var(--gap-24);

		@media screen and (max-width: 768px) {
			left: var(--gap-12);
		}
	}

	.swiper-button-next {
		right: var(--gap-24);

		@media screen and (max-width: 768px) {
			right: var(--gap-12);
		}
	}

	.swiper-pagination-bullet {
		--swiper-pagination-color: var(--color-secondary-100);
		--swiper-pagination-bullet-width: var(--gap-12);
		--swiper-pagination-bullet-height: var(--gap-12);
		--swiper-pagination-bullet-inactive-color: var(--color-secondary-100);
		--swiper-pagination-bullet-inactive-opacity: 0.4;
		--swiper-pagination-bullet-horizontal-gap: 6px;

		border: 1px solid var(--color-primary-050);
	}

	.swiper-thumbs {
		border-radius: var(--border-radius-s);

		.swiper-slide {
			border-radius: var(--border-radius-s);
		}
	}
}

.article-slide {
	position: relative;

	&__source {
    position: absolute;
		z-index: var(--z-index-higher);
    top: var(--gap-4);
    right: var(--gap-4);

		padding: 0 var(--gap-8);
		border-radius: var(--border-radius-s);

		font-size: 12px;
		color: var(--color-primary-050);

		background-color: var(--color-secondary-060);

		&:hover {
			color: var(--color-primary-100)
		}
	}
}