.cart-row {
	display: grid;
	grid-column: 1 / -1;
	grid-template-columns: subgrid;
	column-gap: var(--gap-16);
	align-items: center;

	padding: var(--gap-8) 0;

	&:not(:last-child) {
		border-bottom: 1px dashed var(--color-secondary-030);
	}

	&__item {
		display: flex;
		align-items: center;
		box-sizing: border-box;

		&--picture {
			@media (max-width: 480px) {
				grid-column: 1;
				grid-row: span 3;
			}
		}

		&--title {
			@media (max-width: 480px) {
				grid-column: 2 / -1;
				grid-row: span 2;
			}
		}

		&--price {
			@media (max-width: 480px) {
				width: 7ch;
			}
		}

		&:not(:first-child) {
			height: 100%;
		}

		&:last-child {
			border-right: none;
		}
	}

	&__picture {
    overflow: hidden;
    display: block;

		box-sizing: border-box;
		aspect-ratio: 3 / 2;
		width: 100%;
		max-width: 100px;
		border: 1px solid var(--border-color);
	}

	&__image {
		aspect-ratio: 3 / 2;
    width: 100%;
		height: 100%;
    object-fit: cover;
	}

	&__delete-button {
		cursor: pointer;

		width: 20px;
		height: 20px;
		border: 0;

		background-color: transparent;
	}

	@media (max-width: 1024px) {
		column-gap: var(--gap-8);
	}

	@media (max-width: 480px) {
		grid-row: span 3;

		&:first-child {
			display: none;
		}
	}

	@media (max-width: 390px) {
		column-gap: var(--gap-4);
	}
}