.cart {
	display: flex;
	flex-direction: column;
	gap: var(--gap-24);
	align-items: center;
	justify-content: center;

	width: 100%;

	&__list {
		display: grid;
		grid-template-columns: auto auto auto auto auto;

		@media (max-width: 480px) {
			grid-template-columns: max-content auto 30px;
			box-sizing: border-box;
			width: 100%;
		}
	}

	&__price-info {
		text-align: right;

		@media (max-width: 480px) {
			margin-left: auto;
		}
	}

	&__bottom {
		display: flex;
		align-items: start;
		justify-content: space-between;

		@media (max-width: 480px) {
			flex-direction: column;
			gap: var(--gap-16)
		}
	}

	&__clear.button {
		align-self: start;
    min-height: var(--input-height);
		margin-top: auto;

		@media (max-width: 768px) {
			margin-top: revert;
		}
	}

	.container {
		@media (max-width: 480px) {
			padding: var(--gap-16);
		}
	}
}