.cart {
	display: flex;
	flex-direction: column;
	gap: var(--gap-24);
	align-items: center;
	justify-content: center;

	width: 100%;

	&__list {
		display: grid;
		grid-template-columns: auto auto auto auto auto;

		@media (max-width: 480px) {
			grid-template-columns: max-content auto auto 30px;
			box-sizing: border-box;
			width: 100%;
		}
	}

	&__price-info {
		margin-left: auto;
	}

	.container {
		@media (max-width: 480px) {
			padding: var(--gap-16);
		}
	}
}