.cart-copy {
	display: flex;
	flex-direction: column;
	gap: var(--gap-16);
	align-items: center;

	&__actions {
		display: flex;
		gap: var(--gap-16);
		justify-content: center;
	}

	&__button.button {
		align-self: revert;
	}

	&__message {
		min-height: 16px;
		line-height: 1;
		opacity: 0;
		transition: opacity 0.4s ease;

		&.active {
			opacity: 1;
		}
	}
}