.contacts {
  &__links {
    width: 100%;
    max-width: 600px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    position: relative;
  }

  &__input {
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: var(--text-default, #dac5a7);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 1.5px;

    &::placeholder {
      text-transform: uppercase;
    }

    &:focus-visible {
      outline: 1px solid var(--text-default);
    }
  }

  &__input_disabled {
    background-color: var(--background-hover);
    color: var(--text-disabled);
    cursor: default;
  }

  &__textarea {
    padding-top: 16px;
    padding-bottom: 15px;
    resize: none;
    height: 200px;
    font-family: var(--main-font);
  }

  &__submit {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border: 0;
    border-radius: 2px;
    background: var(--text-default, #dac5a7);
    color: var(--text-inverse, #0e0e0e);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__submit_sending {
    color: transparent;
    background-image: url('/icons/preloader.svg');
    background-size: 60% 60%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__submit-message {
    font-size: 14px;
    position: absolute;
    bottom: 14px;

    @media screen and (max-width: 768px) {
      font-size: 14px;
      bottom: 6px;
    }
  }

  &__submit-message_success {
    left: 48px;
    color: #008000;

    @media screen and (max-width: 768px) {
      left: 30px;
    }
  }

  &__submit-message_error {
    color: red;
    right: 48px;

    @media screen and (max-width: 768px) {
      right: 30px;
    }
  }
}
